*{
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
    width: 100%;
    
    
}
.items {
    width: 45%; 
    margin: 5px;
  
}

@media only screen and (min-width: 748px) {

div {
    display: flex;

    justify-content:center;

    flex-direction: row;
    
    
}
.items {
    width: 10%; 
   margin: 5px;
  
}
}